<%- include('./layout') %>
  <!-- content -->
  <div class="container-fluid dashboard-content-area mt-5 pt-3">
    <!-- Breadcrumb -->
    <nav class="my-4 ps-1" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/user/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/user/dashboard/shipments">Shipments</a></li>
        <li class="breadcrumb-item active" aria-current="page" id="breadcrumb-item-active">users(s)</li>
      </ol>
    </nav>
    <!-- Breadcrumb -->

    <div class="row mt-5">
      <!-- Tabs -->
      <div class="col-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <!-- View shipments tab -->
          <li class="nav-item" role="presentation">
            <button class="nav-link <%= activeTab == 'home-tab-pane'? 'show active' : ''%>" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
              type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"><span><i
                  class="fas fa-shipping-fast me-2"></i></span>Shipment(s)</button>
          </li>
          <!-- View shipments tab -->

          <!-- Update shipment tab -->
          <li class="nav-item" role="presentation">
            <button class="nav-link <%= activeTab == 'profile-tab-pane'? 'show active' : ''%>" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
              type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false"><span><i
                  class="fas fa-truck-loading me-2"></i></span>Update Shipment(s)</button>
          </li>
          <!-- Update shipment tab -->

          <!-- Create shipment tab -->
          <li class="nav-item" role="presentation">
            <button class="nav-link <%= activeTab == 'contact-tab-pane'? 'show active' : ''%>" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane"
              type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">
              <span><i class="fas fa-plus me-2"></i></span>Create Shipment(s)
            </button>
          </li>
          <!-- Create shipment tab -->

          <!-- Disabled tab -->
          <li class="nav-item" role="presentation">
            <button class="nav-link <%= activeTab == 'disabled-tab-pane'? 'show active' : ''%>" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane"
              type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false"
              disabled>Disabled</button>
          </li>
          <!-- Disabled tab -->
        </ul>
        
        <div class="tab-content" id="myTabContent">
          <!-- Shipment(s) -->
          <div class="tab-pane fade my-4 <%= activeTab == 'home-tab-pane'? 'show active' : ''%>" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
            tabindex="0">
            <div class="container pt-3 px-0">
              <!-- Top Card Shipment -->
              <div class="row mb-5">
                <!-- Left Card -->
                <div class="col-sm-6">
                  <div class="card mb-3 h-100">
                    <div class="row g-0">
                      <div class="col-md-4 pt-3">
                        <canvas id="myPieChartLeft"></canvas>
                      </div>
                      <div class="col-md-8">
                        <div class="card mb-4 h-100 border-0">
                          <div class="card-header text-dark">
                            <h6 class="card-title">Status Summary</h6>
                          </div>
                          <p class="card-text mt-3 ms-3">Overview of shipment status including Pending, Delivered, and
                            In Transit packages.<br>
                            It helps monitor operational flow at a glance.
                          </p>
                          <p class="card-text ms-3 mt-2"><small class="text-body-secondary">Last updated 3 mins
                              ago</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Left Card end-->

                <!-- Right Card -->
                <div class="col-sm-6">
                  <div class="card mb-4 h-100">
                    <div class="card-header text-dark">
                      <h6 class="card-title">Reported Shipments Overview</h6>
                    </div>
                    <div class="card-body">
                      <!-- Damaged Shipments -->
                      <div class="mb-1">
                        <div class="d-flex justify-content-between">
                          <small class="mb-1 text-muted">Damaged Shipments</small>
                          <span>25%</span>
                        </div>
                        <div class="progress">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 25%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <!-- Seized Shipments -->
                      <div class="mb-0">
                        <div class="d-flex justify-content-between">
                          <small class="mb-1 text-muted">Seized Shipments</small>
                          <span>50%</span>
                        </div>
                        <div class="progress">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <!-- Stopped Shipments -->
                      <div>
                        <div class="d-flex justify-content-between">
                          <small class="mb-1 text-muted">Stopped Shipments</small>
                          <span>75%</span>
                        </div>
                        <div class="progress">
                          <div class="progress-bar bg-info" role="progressbar" style="width: 75%;" aria-valuenow="75"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <p class="card-text mt-3"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
                <!-- Right Card end-->
              </div>
            </div>
            <!-- Top Card Donurt Chart -->
            <!-- Top Card Shipment end-->

            <% if (shipments == "" || typeof shipments == "undefined") { %>
              <h6 class="ps-2 pt-3">NO RECORDS</h6>
            <% } %>
            
            <% if (Array.isArray(shipments) && shipments.length > 0) { %>
            <h6 class="ps-2 pt-3">RECORDS</h6>
            <hr class="table-group-divider">
            <!-- DataTable -->
            <div class="row table-responsive">
              <!-- <table id="example" class="table-striped table-bordered nowrap" style="width:100%"> -->
              <table id="recordsTable" class="display compact" style="width:100%">
                <thead class="bg-dark text-white">
                  <tr>
                    <th class="text-start">Sender</th>
                    <th class="text-start">Reciever</th>
                    <th class="text-start">Origin</th>
                    <th class="text-start">Dest.</th>
                    <th class="text-start">Tracking #.</th>
                    <th class="text-start">Manage</th>
                  </tr>
                </thead>
                <tbody>
                  <% shipments.forEach(shipment => { %>
                    <tr>
                      <td class="text-start"><%= shipment.sender %></td>
                      <td class="text-start"><%= shipment.receiver %></td>
                      <td class="text-start"><%= shipment.origin %></td>
                      <td class="text-start"><%= shipment.destination %></td>
                      <td class="text-start"><%= shipment.trackingNum %></td>
                      <td>
                        <div class="d-flex">
                          <a href="#"><span class="text-dark"><i class="fas fa-eye"></i></span></a>
                          <!-- <a href="#"><span class="ms-3"><i class="fas fa-edit"></i></span> -->
  
                          <a type="button" class="" data-bs-toggle="modal" data-bs-target="#exampleModal1-<%= shipment._id %>"
                            data-bs-whatever="@mdo"><span class="ms-3"><i class="fas fa-edit"></i></span></a>
                          <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Open modal for @mdo</button> -->
                          <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Open modal for @fat</button>
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Open modal for @getbootstrap</button> -->
                          <div class="modal fade" id="exampleModal1-<%= shipment._id %>" tabindex="-1" aria-labelledby="exampleModalLabel-<%= shipment._id %>" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="exampleModalLabel-<%= shipment._id %>">Edit Shipment with Tracking#:
                                    <%= shipment.trackingNum %></h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <form action="/" method="post">
                                    <div class="mb-3">
                                      <input type="hidden" name="_method" value="put">
                                      <label for="recipient-name" class="col-form-label">Recipient:</label>
                                      <input type="text" class="form-control" id="recipient-name">
                                    </div>
                                    <div class="mb-3">
                                      <label for="message-text" class="col-form-label">Message:</label>
                                      <textarea class="form-control" id="message-text"></textarea>
                                    </div>
                                  </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                  <button type="button" class="btn btn-primary">Submit</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          </a>
                          <a href="#"><span class="ms-3 text-danger"><i class="fas fa-trash-alt"></i></span></a>
                        </div>
                      </td>
                    </tr>  
                  <% }) %>
                </tbody>
              </table>
            </div>
            <% } %>
          </div>
          <!-- Shipment(s) end-->

          <!-- Update Shipment(s) -->
          <div class="tab-pane fade my-4 <%= activeTab == 'profile-tab-pane'? 'show active' : ''%>" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
            tabindex="0">
            <!-- Success feedback card Based on PRG pattern-->
            <% if (type === "updated" ) { %>
              <div class="card shadow-sm mt-5 mx-auto" style="width: 50%;">
                  <div class="card-header bg-primary text-white">
                      <i class="fas fa-check-circle me-2"></i> Success
                  </div>
                  <div class="card-body text-center">
                      <h6 class="card-title">🎉 Shipment Updated Successfully<h6>
                              <p class="card-text text-muted">
                                  Shipment has been updated
                                  successfully.<br>
                                  Would you like to <strong>view all Shipments</strong> or
                                  <strong>update another shipment</strong>?
                              </p>
                              <a href="/shipment/view-shipments?activeTab=home-tab-pane"
                                  class="btn btn-outline-primary me-2 mt-4">View
                                  Shipment(s)</a>
                              <a href="/shipment/view-shipments?activeTab=profile-tab-pane"
                                  class="btn btn-outline-primary mt-4">Update Shipment</a>
                  </div>
                  <div class="card-footer text-muted small">
                      <i class="far fa-clock me-1"></i>
                      <%= new Date().toLocaleString() %>
                  </div>
              </div>
              <% } %>
            <!-- Success feedback card Based on PRG pattern end -->
            <!-- Feedback messages -->
            <% if (message && type==="Error" && block =="updateShipment") { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>
                    <%= type %>:
                </strong>
                <%= message %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
          <!-- Feedback messages end -->
            <% if (type !== "updated" ) { %>
            <div class="container update-shipment-container px-0" style="margin-top: 100px;">
              <div class="row table-responsive">
                <table id="recordsTableUpdateShipment" class="display compact" style="width:100%">
                  <thead class="bg-dark text-white">
                    <tr>
                      <th class="text-start">Sender</th>
                      <th class="text-start">Reciever</th>
                      <th class="text-start">Origin</th>
                      <th class="text-start">Dest.</th>
                      <th class="text-start">Tracking #.</th>
                      <th class="text-start">Manage</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% shipments.forEach(shipment => { %>
                      <tr>
                        <td class="text-start"><%= shipment.sender %></td>
                        <td class="text-start"><%= shipment.receiver %></td>
                        <td class="text-start"><%= shipment.origin %></td>
                        <td class="text-start"><%= shipment.destination %></td>
                        <td class="text-start"><%= shipment.trackingNum %></td>
                        <td>
                          <div class="d-flex">
                            <!-- <a href="#"><span class="text-dark"><i class="fas fa-eye"></i></span></a> -->
                            <!-- <a href="#"><span class="ms-3"><i class="fas fa-edit"></i></span> -->
    
                            <a type="button"
                              class="" 
                              data-bs-toggle="modal"
                              data-bs-target="#updateShipmentModal-<%= shipment._id %>"
                              data-bs-whatever="@mdo"><span class="ms-2"><i class="fas fa-edit"></i></span></a>
                            <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Open modal for @mdo</button> -->
                            <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Open modal for @fat</button>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Open modal for @getbootstrap</button> -->
                            <div class="modal fade" id="updateShipmentModal-<%= shipment._id %>" tabindex="-1" aria-labelledby="updateShipmentModalLabel-<%= shipment._id %>"
                              aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="updateShipmentModalLabel-<%= shipment._id %>">Update Shipment with Tracking#:
                                      <%= shipment.trackingNum %></h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                      aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <form action="/shipment/update_shipment/<%= shipment._id %>" method="post">
                                      <div class="mb-3">
                                        <label for="location" class="col-form-label">Location:</label>
                                        <input type="text" name="location" placeholder="Sample: H1B FL new port" class="form-control" id="location">
                                      </div>  
                                      <div class="mb-3">
                                        <label for="tag" class="col-form-label">Tag:</label>
                                        <input type="text" name="tag" placeholder="Sample: OUT FOR DELIVERY" class="form-control" id="tag">
                                      </div>  
                                      <div class="mb-3">
                                        <label for="statusMessage" class="col-form-label">Status Message:</label>
                                        <textarea class="form-control" name="statusMessage" placeholder="Sample: Shipment is on the way" id="statusMessage"></textarea>
                                      </div>
                                      <div class="mb-3">
                                        <label for="notification" class="col-form-label">Shipment Notification:</label>
                                        <textarea class="form-control" name="notification" placeholder="Sample: Your shipment has been stopped by customs. Contact your agent .." id="notification"></textarea>
                                      </div>
                                      <!-- <label for="status" class="form-label ps-2">Shipment Status</label> -->
                                      <select class="form-select" id="status" name="status" required>
                                        <option value="">Select status...</option>
                                        <option value="In Transit">In Transit</option>
                                        <option value="Siezed">Siezed</option>
                                        <option value="Stopped">Stopped</option>
                                        <option value="Damaged">Damaged</option>
                                        <option value="Delievered">Delievered</option>
                                      </select>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                      </div>    
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                            </a>
                            <a href="#"><span class="ms-3 text-danger"><i class="fas fa-trash-alt"></i></span></a>
                          </div>
                        </td>
                      </tr>  
                    <% }) %>
                  </tbody>  
                </table>
              </div>
            </div>
            <% } %>
          </div>
          <!-- Update Shipment(s) end -->

          <!-- Create Shipment(s) -->
          <div
            class="tab-pane fade my-4 <%= activeTab == 'contact-tab-pane'? 'show active' : ''%>"
            id="contact-tab-pane"
            role="tabpanel"
            aria-labelledby="contact-tab"
            tabindex="0">
            <div class="container update-shipment-container pt-1 px-0">
              <!-- Success feedback card Based on PRG pattern-->
              <% if (type === "created" ) { %>
                <div class="card shadow-sm mt-4 mx-auto" style="width: 50%;">
                    <div class="card-header bg-primary text-white">
                        <i class="fas fa-check-circle me-2"></i> Success
                    </div>
                    <div class="card-body text-center">
                        <h6 class="card-title">🎉 Shipment Created Successfully<h6>
                                <p class="card-text text-muted">
                                    Shipment has been created
                                    successfully.<br>
                                    Would you like to <strong>view all Shipments</strong> or
                                    <strong>create another shipment</strong>?
                                </p>
                                <a href="/shipment/view-shipments?activeTab=home-tab-pane"
                                    class="btn btn-outline-primary me-2 mt-4">View
                                    Shipment(s)</a>
                                <a href="/shipment/view-shipments?activeTab=contact-tab-pane"
                                    class="btn btn-outline-primary mt-4">Create Shipment</a>
                    </div>
                    <div class="card-footer text-muted small">
                        <i class="far fa-clock me-1"></i>
                        <%= new Date().toLocaleString() %>
                    </div>
                </div>
                <% } %>
              <!-- Success feedback card Based on PRG pattern end -->
              <!-- Feedback messages -->
              <% if (message && type==="Error" && block ==="createShipment") { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>
                        <%= type %>:
                    </strong>
                    <%= message %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ></button>
                </div>
                <% } %>
              <!-- Feedback messages end -->
              <!-- Create Shipment Form -->
              <% if (type !=="created" ) { %>
              <div class="container my-3">
                <div class="row justify-content-start">
                  <div class="col-lg-8 col-md-10 ps-0">
                    <div class="card shadow">
                      <div class="card-header bg-primary text-white">
                        <h6 class="mb-0">Create Shipment</h6>
                      </div>
                      <div class="card-body">
                        <form action="/shipment/create-shipment" method="POST" class="needs-validation" novalidate>
                          <!-- Shipment Title -->
                          <div class="row">
                            <div class="col-md-6 mb-4">
                              <label for="title" class="form-label ps-2">Shipment Title</label>
                            <input type="text" class="form-control" id="title" name="title"
                              placeholder="Enter shipment title" required>
                            <div class="invalid-feedback">
                              Please enter a shipment title.
                            </div>
                          </div>
                          <div class="col-md-6 mb-4">
                            <label for="facility" class="form-label ps-2">Facility</label>
                          <input type="text" class="form-control" id="facility" name="facility"
                            placeholder="Sample: FX office 123 CA, USA">
                          <!-- <div class="invalid-feedback">
                            Please enter facility info.
                          </div> -->
                        </div>
                        </div>
                          <!-- Sender and Reciever -->
                          <div class="row">
                            <div class="col-md-6 mb-4">
                              <label for="sender" class="form-label ps-2">Sender</label>
                              <input type="text" class="form-control" id="sender" name="sender"
                                placeholder="Sender name" required>
                              <div class="invalid-feedback">
                                Please enter the sender name.
                              </div>
                            </div>
                            <div class="col-md-6 mb-4">
                              <label for="receiver" class="form-label ps-2">Reciever</label>
                              <input type="text" class="form-control" id="receiver" name="receiver"
                                placeholder="Reciever name" required>
                              <div class="invalid-feedback">
                                Please enter the reciever name.
                              </div>
                            </div>
                          </div>
                          <!-- Origin and Destination -->
                          <div class="row">
                            <div class="col-md-6 mb-4 select">
                              <label for="origin" class="form-label ps-2">Origin Country</label>
                              <select name="origin" class="form-select select-country" required>
                                <option value="">Choose country code</option>
                                <% countries.forEach(function(country) { %>
                                  <option value="<%= country.code %>|<%= country.name %>"><%= country.name %></option>
                                <% }); %>
                              </select>                              
                              <div class="invalid-feedback">
                                Please enter the origin address.
                              </div>

                            </div>
                            <div class="col-md-6 mb-4">
                              <label for="destination" class="form-label ps-2">Destination Country</label>
                              <select name="destination" class="form-select select-country" required>
                                <option value="">Choose country code</option>
                                <% countries.forEach(function(country) { %>
                                  <option value="<%= country.code %>|<%= country.name %>"><%= country.name %></option>
                                <% }); %>
                              </select>                              
                              <div class="invalid-feedback">
                                Please enter the destination address.
                              </div>
                            </div>
                          </div>
                          <!-- Shipping and Arrival Dates -->
                          <div class="row">
                            <div class="col-md-6 mb-4">
                              <label for="shippingDate" class="form-label ps-2">Shipping Date</label>
                              <input type="date" class="form-control" id="shippingDate" name="shippingDate" required>
                              <div class="invalid-feedback">
                                Please select a shipping date.
                              </div>
                            </div>
                            <div class="col-md-6 mb-4">
                              <label for="arrivalDate" class="form-label ps-2">Estimated Arrival Date</label>
                              <input type="date" class="form-control" id="arrivalDate" name="arrivalDate" required>
                              <div class="invalid-feedback">
                                Please select an arrival date.
                              </div>
                            </div>
                          </div>
                          <!-- Shipment Status -->
                          <div class="row">
                            <div class="col-md-6 mb-4">
                            <label for="invoiceNum" class="form-label ps-2">Invoice Number</label>
                            <input type="text" class="form-control" id="invoiceNum" name="invoiceNum"
                              placeholder="Invoice number">
                            </div>
                          <div class="col-md-6 mb-4">
                            <label for="status" class="form-label ps-2">Shipment Status</label>
                            <select class="form-select" id="status" name="status" required>
                              <option value="Collected">Collected</option>
                            </select>
                            <div class="invalid-feedback">
                              Please select a shipment status.
                            </div>
                          </div>
                          </div>
                          <!-- Weight and Tracking Number -->
                          <div class="row">
                            <div class="col-md-6 mb-4">
                              <label for="weight" class="form-label ps-2">Weight (kg)</label>
                              <input type="number" step="0.1" class="form-control" id="weight" name="weight"
                                placeholder="Shipment weight" required>
                              <div class="invalid-feedback">
                                Please enter the shipment weight.
                              </div>
                            </div>
                            <div class="col-md-6 mb-4">
                              <label for="trackingNum" class="form-label ps-2">Tracking Number</label>
                              <input type="text" class="form-control" id="trackingNum" name="trackingNum"
                                placeholder="Tracking number" required>
                              <div class="invalid-feedback">
                                Please enter the tracking number.
                              </div>
                            </div>
                          </div>
                          <!-- Submit Button -->
                          <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn">Submit</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
            </div>
          </div>
          <!-- Create Shipment(s) end -->

          <!-- Disabled -->
          <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">
            ...</div>
          <!-- Disabled end -->
        </div>
      </div>
      <!-- Tabs end-->
    </div>
  </div>

  <!-- BreadCrumbs -->
  <script src="/js/breadCrumbs.js"></script>
  <!-- BreadCrumbs -->
  <!-- content -->

  <!-- Charts -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/js/piechartLeft.js"></script>
  <script src="/js/piechartRight.js"></script>
  <script src="/js/modalSnippet.js"></script>
  <script src="/js/modalSnippet1.js"></script>
  <!-- Charts -->

  <!-- Create Shipment Form Validation Script -->
  <script>
    (function () {
      'use strict';
      const forms = document.querySelectorAll('.needs-validation');
      Array.from(forms).forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    })();
  </script>
  <!-- Create Shipment Form Validation Script end -->

  <!--
Note: For any added code in Tab having same dataTable,
make sure to update the script section in below 
./layout-footer.js to reference the table id.
Else it wont work. 
-->
  <%- include('./layout-footer') %>