<!-- HTML head-->
<%- include('../partials/page-guard-head') %>
  <!-- HTML head ends here-->

  <!-- Header starts here-->
  <%- include('../partials/header') %>
    <!-- Header ends here-->

    <!-- Nav starts here -->
    <%- include('../partials/nav') %>
      <!-- Nav ends here -->

      <div class="container-fluid ship-container bg-body-tertiary p-3">
        <div class="row">
          <div class="col-sm-8">
            <h2 class="pb-4" style="color: red;">About Q-Ship Logistics</h2>
            <p>
            <h5>The undisputed global leader in international express shipping</h5>
            <hr class="pb-3" style="width: 10%;">
            Q-Ship Logistics for the Connected century.
            When Anna Wang, Dawney and Richard Lee founded Q-Ship in 1999, 
            they didn’t know they would revolutionize the world of logistics. 
            Today, Q-Ship is one of the world’s most reliable logistics company. 
            With over 5,000 agents in Asia 120 countries and territories work 
            every day to help you cross borders, reach new markets and grow your business. 
          </p>
          </div>
        </div>

        <!-- Cards -->
         <div class="row about-card-row-container">
          <div class="col-sm-4 mb-3">
            <div class="card about-card">
              <div class="card-body px-3 py-4">
                <!-- <i class="fas fa-calendar-alt py-2"></i> -->
                <h6 class="card-title py-1 text-center">167,000+</h6>
                <p class="card-text text-dark text-center">Customers supported every day</p>
              </div>
              </div>
            </div> 
            <div class="col-sm-4 mb-3">
              <div class="card about-card">
                <div class="card-body px-3 py-4">
                  <!-- <i class="fas fa-calendar-alt py-2"></i> -->
                  <h6 class="card-title py-1 text-center">10,000+</h6>
                  <p class="card-text text-dark text-center">Expert employees here for you</p>
                </div>
                </div>
              </div>  
              <div class="col-sm-4 mb-3">
                <div class="card about-card">
                  <div class="card-body px-3 py-4">
                    <!-- <i class="fas fa-calendar-alt py-2"></i> -->
                    <h6 class="card-title py-1 text-center">120+</h6>
                    <p class="card-text text-center"> Countries and territories served
                    </p>
                  </div>
                  </div>
                </div>  
          </div>
         </div>
      </div>

      <!-- Bottom info -->
      <div class="container-fluid">
        <div class="row mb-3">
          <div class="col-sm-8">
            <h5>Connected and Committed</h5>
            <p>
            <hr style="width: 10%;">
            At Q-Ship Logistics, we are an international team of logistics and supply chain
            specialists, business and HR professionals, and IT and tech experts working
            across 120 countries and territories. We are connected and committed – to
            setting an example for sustainable business, building strong partnerships,
            and offering people a fantastic place to develop their careers. 
          </p>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row about-card-row-container">
          <div class="col-sm-4">
            <div class="card w-100">
              <img src="images/shay-5n2EemBYQm4-unsplash.jpg" class="card-img-top" alt="...">
              <div class="bottom-cards card-body">
                <strong class="text text-decoration-underline" href="#">Sustainability</strong><i class="fas fa-angle-right"></i>
                <p class="card-text mt-3">
                  We strive for a consistent balance between ecology, economy and society.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card w-100">
              <img src="images/ian-taylor-jOqJbvo1P9g-unsplash.jpg" class="card-img-top" alt="...">
              <div class="bottom-cards card-body">
                <strong class="text text-decoration-underline" href="#">Brand Partners</strong><i class="fas fa-angle-right"></i>
                <p class="card-text mt-3">
                  Q-Ship is the specialist for delivering global events around the world.
                </p>
              </div>
            </div>
            </div>
          <div class="col-sm-4">
            <div class="card w-100">
              <img src="images/service1a.jpg" class="card-img-top" alt="...">
              <div class="bottom-cards card-body">
                <strong class="text text-decoration-underline" href="#">Careers</strong><i class="fas fa-angle-right"></i>
                <p class="card-text mt-3">
                  As one of the world's largest and most innovative employers, we take special pride in our people.
                </p>
              </div>
            </div>
            </div>
          </div>
        </div>


      <div class="container-fluid my-4">
        <div class="row">
          <div class="col-sm-8">
            <h2 class="mb-3">Frequently asked questions</h2>
            <hr class="mb-5">
            <div class="accordion mb-3" id="accordionPanelsStayOpenExample">
              <div class="accordion-item border-0">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                  <button class="accordion-button bg-body-tertiary px-1" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    <h5>How do you use my contact information?</h5>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                  <div class="accordion-body">
                    <p><strong>Your contact information</strong> 
                      will be used to connect you to the right teams. Your data is always kept private and is not shared for third party use.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item border-0">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                  <button class="accordion-button collapsed px-1" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    <h5>When will my tracking information appear?</h5>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                  <div class="accordion-body">
                    <p><strong>Tracking events</strong> 
                    usually appear 24-48 hours after receiving the Track and Trace ID. In general, once the shipment has reached our facility, a tracking event will appear.              </div>
                </div>
              </div>
              <div class="accordion-item border-0">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                  <button class="accordion-button collapsed px-1" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    <h5>Why is my tracking number/ID not working?</h5>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                  <div class="accordion-body">
                    <p>
                      <strong>Tracking number/ID not working? </strong>Please make sure you entered the correct tracking number in the correct format: Check for minimum length of 5 characters, and if there are any special characters in your input. Tab, comma, space and semicolon are understood as separators between several tracking IDs.
                      If your tracking ID is not working, please contact your shipper or online shop.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item border-0">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                  <button class="accordion-button collapsed px-1" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                    <h5>If I do not have my tracking number, is it still possible to track my shipment?</h5>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                  <div class="accordion-body">
                    <p>
                      However, if you have other shipping reference numbers, they may work using shipment tracking systems of the specific business unit in charge of the shipment.
                      Its best to contact <span class="text-danger">customer service</span> for assistance. 
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
  <!-- Footer -->
  <%- include('../partials/footer') %> 
  <!-- Footer -->

<!-- HTML tail-->
<%- include('../partials/page-guard-tail') %>
<!-- HTML tail ends here-->
