<!-- HTML head-->
<%- include('../partials/page-guard-head') %>
  <!-- HTML head ends here-->

  <!-- Header starts here-->
  <%- include('../partials/header') %>
    <!-- Header ends here-->

    <!-- Nav starts here -->
    <%- include('../partials/nav') %>
      <!-- Nav ends here -->

      <div class="container-fluid ship-container bg-body-tertiary p-3">
        <div class="row">
          <div class="col-sm-8">
            <h2 class="text-danger pb-4">QSJ Logistics</h2>
            <p>
            <h5>The undisputed global leader in international express shipping</h5>
            <hr class="pb-3" style="width: 10%;">
            When your shipment needs to be there fast, choose the International Specialists for quick, reliable
            expedited shipments to and from more than 220 countries and territories.
            </p>
          </div>
        </div>
      </div>
      <div class="container mb-3 pb-3">
        <div class="row">
          <div class="col-sm-6 p-3">
            <div class="row">
              <div class="col-sm-6">
                <div class="card mb-3">
                  <div class="card-body px-3 py-4">
                    <i class="fas fas fa-globe mb-3 py-2 text-danger"></i>
                    <h6 class="card-title py-1">International Expertise</h6>
                    <p class="card-text small-text text-dark">Our team is here to offer you hassle-free shipping</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card mb-3">
                  <div class="card-body px-3 py-4">
                    <i class="fas fas fa-shield-alt mb-3 py-2 text-danger"></i>
                    <h6 class="card-title py-1">Reliable</h6>
                    <p class="card-text small-text text-dark">We handle all shipments with care and compensate on any
                      defaults.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card mb-3">
                  <div class="card-body px-3 py-4">
                    <i class="fas fas fa-shipping-fast mb-3 py-2 text-danger"></i>
                    <h6 class="card-title py-1">Extra-Ordinary Speed</h6>
                    <p class="card-text small-text text-dark">We leverage our unrivaled expertise to keep your shipments
                      moving swiftly for expedited delivery on the next possible business day.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card mb-3">
                  <div class="card-body px-3 py-4">
                    <i class="fas fas fa-star mb-3 py-2 text-danger"></i>
                    <h6 class="card-title py-1">Excellenct Service</h6>
                    <p class="card-text small-text text-dark">We are passionate about helping our customers succeed and
                      dont give room for negligence. Our customers are our priority.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 ship-image-container p-3" style="align-content: center;">
            <img src="images/pexels-elevate-1267338.jpg" width="100%" alt="">
          </div>
        </div>
      </div>

      <!-- Bottom info -->
      <div class="container quick-links">
        <div class="row mb-3">
          <div class="col-sm-8 mb-3">
            <p>
            <h5>Get Started With Q-Ship+</h5>
            <hr style="width: 10%;">
            Q-Ship+ is a state-of-the-art, web-based shipping solution from QZ Express.
            With its intuitive interface, you’re able to import, export, schedule a pickup,
            track shipments and pay
            bills more easily than ever – all in one place, in one visit, with zero headaches. </p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-8 mb-3">
            <p>
            <h5>Q-Ship+ Express For Business</h5>
            <hr style="width: 10%;">
            Request a Business Account from our <a href="/service"><span class="text-danger">customer service</span></a> and take advantage of these extended DHL Express shipping services plus much more.
            </p>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-sm-8 mb-3">
            <p>
            <h5>Request a Business Account</h5>
            <hr style="width: 10%;">
            Almost ready to start enjoying the benefits of a Q-Ship Express business account. <br>Contact our <a href="/service"><span class="text-danger">customer service</span></a></p>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-sm-8 mb-3">
            <p>
            <h5>Your Trusted Advisor</h5>
            <hr style="width: 10%;">
            When you partner with Q-Ship+ Express, not only will you get the world’s best international express shipping delivery service – you can also 
            count on our team of business, e-commerce and logistics experts to be your trusted advisors. They’ll help you discover new markets, identify new opportunities and fully realize your cross-border potential.
            </p>
          </div>
        </div>

      </div>

      <!-- Footer -->
      <%- include('../partials/footer') %>
        <!-- Footer -->

        <!-- HTML tail-->
        <%- include('../partials/page-guard-tail') %>
          <!-- HTML tail ends here-->